---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import pulseshockData from "../assets/data/pulseshock.json";
import "../styles/global.css";
---

<Layout>
  <Navigation />
  <main>
    <section class="hero-section">
      <video
        autoplay
        loop
        muted
        playsinline
        preload="auto"
        poster="/images/poster.png"
        class="hero-video"
      >
        <source
          src="/videos/pulseshock-hero-section-video.mp4"
          type="video/mp4"
        />
        El teu navegador no suporta aquest vídeo.
      </video>
      <div class="hero-content">
        <h1>Energia pura. Activa't al moment.</h1>
        <p>
          PulseShock et dona una dosi doble de cafeïna i vitamines del complex B
          per rendir al màxim des del primer glop.
        </p>
        <a href="#" class="cta-button">¡PROVA-LA ARA!</a>
      </div>
    </section>

    <section id="productes" class="productes">
      <h1 class="llista-begudes-titol">TOTS ELS NOSTRES PRODUCTES</h1>
      <ul class="llista-begudes">
        {
          pulseshockData.products.map((product) => (
            <li class="beguda">
              <a class="beguda" href={`${product.url}`}>
                <picture>
                  <source srcset={`${product.image}.avif`} type="image/avif" />
                  <source srcset={`${product.image}.webp`} type="image/webp" />
                  <img
                    src={`${product.image}.png`}
                    alt={`Imatge de ${product.name}`}
                  />
                </picture>
                <div class="beguda-info">
                  <span>{product.name}</span>
                  <p>{product.description}</p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </section>

    <section id="descripcio" class="descripcio-beguda">
      <div class="columna1">
        <img
          src="/images/pulseshock-descripcio-mockup.jpg"
          alt="Mockup de PulseShock Original per a la descripció"
          class="mockup"
        />
      </div>

      <div class="columna2">
        <div class="contenidor">
          <h2>¡Desperta el teu potencial!</h2>
          <p class="text">
            <strong>PulseShock</strong> és la beguda energètica ideal per a aquells
            que necessiten un impuls immediat.
          </p>
          <p class="text">
            La doble dosi de cafeïna i vitamines B t'ajuda a mantenir-te actiu
            durant tot el dia.
          </p>
        </div>
      </div>
    </section>

    <section id="testimonis" class="testimonis">
      <h1 class="testimonis-titol">
        ESPORTISTES QUE CONFÍEN EN LA NOSTRA MARCA
      </h1>
      <ul class="llista-testimonis">
        {
          pulseshockData.testimonials.map((testimonial) => (
            <li class="testimoni">
              <div class="testimoni-info">
                <img
                  src={`${testimonial.image}`}
                  alt={`Imatge de ${testimonial.athlete}`}
                  class="testimoni-img"
                />
                <div class="testimoni-text">
                  <h3>{testimonial.athlete}</h3>
                  <p>"{testimonial.opinion}"</p>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
  <Footer />
</Layout>
